<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Backbone Decouple Views</title>
<style>
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	}
	
	li {
	    float: left;
	}
	
	li a {
	    display: block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}
	
	/* Change the link color to #111 (black) on hover */
	li a:hover {
	    background-color: #111;
	}
	#contentArea {
		background-color: #dde;
	}
</style>
<script src="js/libs/jquery.js"></script>
<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.js"></script>
<script src="js/MenuModel.js"></script>
<script src="js/MenuView.js"></script>
<script src="js/RCView.js"></script>
<script src="js/ShopView.js"></script>
<script src="js/TicketView.js"></script>
<script src="js/main.js"></script>
</head>
<body>
	<div id="menuArea">
		<script type="text/template" id="menu-template">
    		<ul>
  				<li><a href="#<%= rechargeLink %>">Recharge</a></li>
  				<li><a href="#<%= bookLink %>">Book Tickets</a></li>
  				<li><a href="#<%= shopLink %>">Shop</a></li>
			</ul>
  		</script>
	</div>
	
	<div id="contentArea">
		
	</div>
	<script type="text/template" id="recharge-template">
    	<label for="mobileText">Enter Mobile :</label>
		<input id="mobileText"><br/>
		<label for="amountText">Enter Amount :</label>
		<input id="amountText"><br/>
		<button id="rcSubmitButton">Recharge</button>
  	</script>
	
	<script type="text/template" id="ticket-template">
    		<label for="departureText">Enter Departure :</label>
			<input id="departureText"><br/>
			<label for="destinationText">Enter Destination :</label>
			<input id="destinationText"><br/>
			<button id="bookSubmitButton">Book Ticket</button>
  		</script>
	
	<script type="text/template" id="shop-template">
    		!!Something about shopping will go here!!
		</script>
</body>
</html>