<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="student" class="com.studentact.model.Student" scope="prototype" destroy-method="destroy" init-method="init"/>
	
	<bean id="studentDao" class="com.studentact.dao.StudentDaoImpl" destroy-method="destroy" init-method="init">
	    <property name="student" ref="student"/>
	</bean>
	
	<bean id="studentServiceProxy" class="com.studentact.proxy.StudentServiceProxy" init-method="init" destroy-method="destroy">
	    <property name="student" ref="student"/>
	</bean>
	
	<bean id="studentService" class="com.studentact.service.StudentService" destroy-method="destroy" init-method="init">
	    <property name="studentServiceProxy" ref="studentServiceProxy"/>
	    <property name="studentDao" ref="studentDao"/>
	</bean>
	
</beans>